<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>TO DO LIST</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script type="text/javascript" src="todolist.js" async></script>
</head>
<body>

  <div id="todoList">
    <div v-for="task in tasks">
      <label>{{ task }}</label>
      <button v-on:click="removeTask(task)">削除</button>
    </div>
    <input v-model="newTask"
           placeholder="To Doを入力"
           v-on:keyup.enter="addTask(newTask)">
  </div>

</body>
</html>
